<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    div{
        height: 40px;
        width: 1900px;
        border: 1px solid #ec8c0e;
        background: #ffffff;
    }

    input{
        font-size: 16px;
        width: 325px;
        padding: 10px;
        border: 0px;
        outline:none;
        float:left;
    }

    button{
        width: 50px;
        height: 100%;
        border: 0px;
        background: #ec8c0e;
        outline:none;
        float:right;
        color: #ffffff;
    }

</style>
<body>
<div class = "search">
    <input type = "text" placeholder="검색어 입력">
    <button>검색</button>
</div>
</body>
</html>
